<%- include("header2", {}) %>
<link rel="stylesheet" href="chat.css">


<body>
    <br>
    <br>
    <div class="wrapper" id="titulo">
        <div class="typing-demo">Chat</div>
    </div>


    <form id="form">
            <input id="input" class="inp" placeholder="Escribe aquí..." >
            <button class="button">Send</button>     
    </form>
    <div id="cuadro">
            <ul id="messages"></ul>
    </div>

    <% if (rol==='redactor') { %>
        <script>document.getElementById("titulo").style.marginLeft="27%"</script>
    <% } %>
    
</body>

<script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const form = document.getElementById("form");
        const input = document.getElementById("input");
        const messages = document.getElementById("messages");

        form.addEventListener('submit', function(e){
            e.preventDefault();
            if(input.value){
                socket.emit("chat",input.value);
                input.value = "";
            }
        });
        socket.on("chat", (msg) =>{
            const item = document.createElement("li");
            item.textContent = msg;
            document.getElementById("cuadro").style.border="3px solid #F3CC07";
            messages.appendChild(item);
            window.scrollTo(0,document.body.scrollHeight);
        });
        
    </script>
    <script>document.getElementById("botonIluminado").className='animation start-chat'</script>
<%- include("footer", {}) %>