<%- include("header2", {}) %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="contacto.css">
    <link rel="icon" href="icono3.png">
    <title>Contact</title>
</head>
<body>
    <div class="wrapper">
        <form action="/contacto" method="post" class="form">
          <div class="pageTitle title">Contacto </div>
          <div class="secondaryTitle title">Rellena los siguientes campos.</div>
          <input type="text" id="nombre" name="nombre" class="name formEntry" placeholder="Nombre"  required/>
          <input type="text" id="email" name="email" class="email formEntry" placeholder="Email" required/>
          <textarea class="message formEntry" id="mensaje" name="mensaje" placeholder="Mensaje" required></textarea>
          <button class="submit formEntry" type="submit">Submit</button>
        </form>
    </div>
    <% if (message) { %>
      <div class="mensaje">
          <p> <%- message %></p>
      </div>
    <% } %>

</body>
<script>
document.getElementById("botonIluminado").className='animation start-contact';
</script>

