<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
</head>

<h1>Gacetilleros</h1>

<nav>
	<a href="/home">Tablón</a>
	<a href="/restricted">Publicación</a>
	<a href="/twitter">Twitter</a>
	<a href="#">Contact</a>
	<a href="#">About Us</a>
	<a href="/logout">Logout</a>
	
    
	<div id="botonIluminado"></div>
   
</nav>