<%- include("header2", {}) %>
<head>
    <link rel="stylesheet" href="publicacion.css">
</head>

<body>
    <form action="/publicacion" method="post">      
        <input id="titular" name="titular" type="text" class="feedback-input" placeholder="Titular" required/>   
        <textarea id="cuerpo" name="cuerpo" class="feedback-input" placeholder="Contenido de la noticia" required></textarea>
        <input type="submit" value="PUBLICAR"/>
    </form>
    <% if (message) { %>
        <div class="message">
            <p> <%- message %></p>
        </div>
    <% } %>
</body>
<script>
    document.getElementById("botonIluminado").className='animation start-publicar';
</script>
