<%- include("header2", {}) %>
<head>
    <link rel="stylesheet" href="publicacion.css">
</head>

<body>
    <form>      
        <input name="name" id="titular" type="text" class="feedback-input" placeholder="Titular" required/>   
        <textarea name="text" id="body" class="feedback-input" placeholder="Contenido de la noticia" required></textarea>
        <input type="submit" value="PUBLICAR"/>
    </form>
</body>

<%- include("footer", {}) %>