
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="registro.css">
    <title>Register</title>
</head>
<body>
    <div class="box">
        <form action="/registro" method="post">
        <div class="form">
            <h2>
                Sign up
            </h2>
            <div class="inputBox">
                <input type="text" id="user" name="user" required>
                <span>Username</span> <i></i>
            </div>
            <div class="inputBox"><input type="Password" id="pass" name="pass" required>
            <span>Password</span> <i></i>
            </div>
            <div class="inputBox"><input type="Password" id="pass2" name="pass2" required>
                <span>Repeat password</span> <i></i>
            </div>
            <div class="inputBox2">
                <span>Role</span>
                <select name="rol" id="rol">
                    <option value="admin">Admin</option>
                    <option value="redactor">Redactor</option>
                    <option value="lector">Lector</option>
                </select>
            </div>

        <div class="links">
            <br><br>  
            <a href="/">Sign in</a>
        </div>
        <br>
        <input type="submit" value="Sign up" class="c">
        </div></form>
    </div><br>
    <% if (error) { %>
        <div class="error">
         <p> <%- error %></p>
        </div>
      <% } %>
</body>



<%- include("footer", {}) %>


