<%- include("header2", {}) %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script>document.getElementById("botonIluminado").className='animation start-restricted'</script>
<%- include("footer", {}) %>
