<%- include("header2", {}) %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (rol==='admin') { %>
        <h1>CHUPAMELA</h1>
        <% } %>

    <script>document.getElementById("botonIluminado").className='animation start-restricted'</script>
<%- include("footer", {}) %>
