<%- include("header2", {}) %>
<head>
    <link rel="stylesheet" href="tablon.css">
</head>
<main>
	<div class="book">
		<div class="book-cover">
			<div>
				<h1>Mrs. Dalloway</h1>
				<div class="separator"></div>
				<h2>by Virginia Woolf</h2>
			</div>
		</div>
		<div class="book-content">
			<!--<h3>An Excerpt from Chapter One</h3> -->
            <div id="cuadro">
                <ul id="publicaciones">
					<p> <%= publicaciones[0].id  %> </p>
					
					<% for (let i=0; i<publicaciones.length ; i++) { %>
						<br><br><br>
						<h3><%= publicaciones[i].titular %></h3>
						<br>
						<p><%= publicaciones[i].body %></p><br>
						<span><a href="#"></a></span>
					<% } %>
					<!-- <span><a href="#"></a></span> -->
				</ul>
				
            </div>
			
        </div>
	</div>
</main>
<!-- <script type="text/javascript" src="/tablon_operacion.js"></script> -->
<!---
<script>
	const list = document.getElementById("publicaciones");
	const titulo= document.createElement('h3');
	const br= document.createElement('br');
	const cuerpo= document.createElement('p');
	const comentar= document.createElement('span');
	const a= document.createElement('a');
	list.appendChild(titulo);
	list.appendChild(br);
	list.appendChild(br);
	list.appendChild(br);
	list.appendChild(br);
	list.appendChild(cuerpo);
	comentar.appendChild(a);
	list.appendChild(comentar);
	titulo.innerHTML='PRUEBA 2';
	cuerpo.innerHTML= publicaciones[0].id;

	/*
	
		for (let i=0;i<publicacion.length;i++){
			const titulo= document.createElement('h3');
			const br= document.createElement('br');
			const cuerpo= document.createElement('p');
			const comentar= document.createElement('span');
			const a= document.createElement('a');
			list.appendChild(titulo);
			list.appendChild(br);
			list.appendChild(br);
			list.appendChild(br);
			list.appendChild(br);
			list.appendChild(cuerpo);
			comentar.appendChild(a);
			list.appendChild(comentar);
			titulo.innerHTML=publicacion[i].titular;
			cuerpo.innerHTML=publicacion[i].body;
		}
		console.log("acabadoo");
	})*/

</script>-->