form{
    background: lightgray;
    padding: 5px;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}
#input{
    flex-grow: 1;
}
#messages{
    list-style-type: none;
}
#messages > li:nth-child(odd){
    background: lightblue;
}

.wrapper {
    top:240px;
    /*height: 100vh;*/
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    color: white;
    width: 4ch;
    animation: typing 2s steps(4), blink .25s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4em;
    
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }