body{
    align-items: center;
}
form{
    background: transparent;
    padding: 5px;
    position: absolute;
    display: flex;
    bottom: 100px;
    left: 450px;
    right: 340px;
    margin: 0;
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
    
}
#input{
    flex-grow: 1;
    top:240px;
}
#cuadro{
    width: 580px;
    margin: auto;
    border-radius: 7px;
    overflow-y:scroll;
    max-height: 370px;
    text-align: center;
}
#cuadro::-webkit-scrollbar {
  background-color: #2c3e50;
}
#cuadro::-webkit-scrollbar-thumb {
  background-color: #eaa0e790;
  border-radius: 18px;
}

#cuadro::-webkit-scrollbar-thumb:hover {
  background-color: #cb4ef1b6;
}
#messages{
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color: white;
    width: 500px;
}
#messages > li:nth-child(odd){
    background: #9b59b6;
    width: 500px;
    text-align: center;
    
}


.wrapper {
    margin-left: 32%;
    position:relative;
    
  }
  
  .typing-demo {
    color: white;
    width: 4ch;
    animation: typing 4s steps(4), blink .25s step-start infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 4em;
    
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .inp{
    background-color:transparent; 
    border-color: transparent; 
    color: white; 
    font-family: monospace;
    font-size: 25px;
    width: 500px;
    height: auto;
    margin-left: 10%;
    position: static;
  }
  .button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    background-color: #9b59b6;
    border: none;
    color: white;
    padding: 8px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
    position:static;
    margin:auto;
    margin-left: 10px;
    top: 240px;
  }
  
  .button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    /*padding-top: 300%;*/
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus { outline:0; }
