@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Petemoss&display=swap");

* {
	box-sizing: border-box;
}



h1,
h2,
h3,
h4,
h5,
p {
	margin: auto;
}

main {
	display: flex;
	justify-content: center;
	background-color: transparent;
}

.book {
	--book-height: 100vh;
	--book-ratio: 1.4;
}

.book > div {
	height: var(--book-height);
	width: calc(var(--book-height) / var(--book-ratio));
	overflow: auto;
	background-color: #323231;
	transform: scale(0.9);
	border-radius: 6px;
	transform-origin: left;
}

.book-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9;
	text-align: center;
	background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, black 25%, transparent 25%),
		linear-gradient(45deg, black 25%, transparent 25%);
	background-size: 2em 2em;
	background-color: #232323;
	color: white;
	transition: transform 2s;
}

.book-cover::before {
	content: "";
	position: absolute;
	width: 20px;
	right: 20px;
	top: 0;
	bottom: 0;
	background-color: #b11509;
}

#titulo {
	font-family: "Petemoss", cursive;
	font-size: 98px;
	font-weight: 300;
	color: #dbd75d;
}

h2 {
	font-size: 16px;
}

.separator {
	--separator-size: 8px;
	width: var(--separator-size);
	height: var(--separator-size);
	background-color: #dbd75d;
	margin: 50px auto 60px auto;
	border-radius: 50%;
	position: relative;
}

.separator::after,
.separator::before {
	content: "";
	position: absolute;
	width: 12px;
	background-color: white;
	height: 2px;
	top: calc(50% - 1px);
}

.separator::after {
	left: 15px;
}

.separator::before {
	right: 15px;
}

.book-content {
	transform: scale(0.9) translateY(30px);
	background-color: rgba(169, 169, 169, 0.633) !important;
	transition: all 0.3s 1s;
	overflow-y: scroll;
    
}

.book-content h3,
.book-content p {
	opacity: 0;
	transition: all 0.3s 0.3s;
}
h3 {
	display: flex;
	position: relative;
	font-size: 38px;
	text-transform: uppercase;
	font-family: 'Gambetta', serif;
	letter-spacing: -2px;
	transition: 700ms ease;
	font-variation-settings: "wght" 311;
	margin-bottom: 0.8rem;
	color: PaleGoldenRod;
	outline: none;
	text-align: center;
  }
  
h3:hover {
	font-variation-settings: "wght" 582; 
	letter-spacing: 3px;
	cursor:default;
  }




p {
	padding: 0px 30px 10px 6px;
	position: relative;
	text-align: justify;
	font-size: 16px;   
}
p:hover{
	cursor:default;
}


.book-cover > div {
	transition: opacity 0s 0.6s;
}

.book:hover > .book-cover {
	transform: rotateY(180deg) scale(0.9);
}

.book:hover > .book-cover > div {
	opacity: 0;
}

.book:hover > .book-content {
	transform: scale(0.9) translateY(0px);
}

.book:hover > .book-content h3,
.book:hover > .book-content p {
	opacity: 1;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: 50px !important;
  height: 25px;
  margin:0px 15px;
  perspective: 1000px;
}
span a{
  font-size: 15px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
 
}
span a:before,
span a:after{
  position: absolute;
  content: "COMENTARIOS";
  height: 45px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
 
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
#comentar{
	display: inline-flex; 
	width: 475px; 
	height: 100px ; 
	font-size: 18px;
	background-color: beige;
	border: black 2px solid ;
	border-radius: 5px;
	overflow-y: auto;
}
#comentar::-webkit-scrollbar {
    background-color: transparent;
	width: 6px;
  }
  #comentar::-webkit-scrollbar-thumb {
    background-color: #b68c49;
    border-radius: 18px;
  }
  
  #comentar::-webkit-scrollbar-thumb:hover {
    background-color: #e0a342;
  }
  #comentar::-webkit-scrollbar-corner{
    background-color: transparent;
  
  }
.book-content::-webkit-scrollbar {
    background-color: rgba(169, 169, 169, 0.633);
	width: 16px;
  }
  .book-content::-webkit-scrollbar-thumb {
    background-color: #b68c49;
    border-radius: 18px;
  }
  
  .book-content::-webkit-scrollbar-thumb:hover {
    background-color: #e0a342;
  }
  .book-content::-webkit-scrollbar-corner{
    background-color: transparent;
  
  }

#inputComentario{
	width: 366px;
	min-height: 30px;
	height: auto;
}

#botonComentar{
	display: inline;
	height: 30px;
	width: 99px;
	border-radius: 4px;
	border: #b11509;
	background-color: #b68c49;
	color: #fff;
	font-size: 12px;
}
#botonComentar:hover{
	background-color: #e0a342;
}
